include README.rst
include AUTHORS
include CHANGES
recursive-include src/django_detect_cyclic/*.py
recursive-include src/django_detect_cyclic/templates *
recursive-include src/django_detect_cyclic/static *
recursive-include src/django_detect_cyclic/locale *